<form [formGroup]="pmode.form" class="form-horizontal">
    <div formGroupName="pmode" runtimeTooltip="sendingprocessingmode">
        <as4-box>
            <div content>
                <as4-pmode #pmode></as4-pmode>
            </div>
        </as4-box>
        <as4-tab>
            <div tabitem title="Common" [isValid]="!!!pmode.currentPmode || pmode.form.get('pmode.id').valid || pmode.form.get('pmode.allowOverride').valid || pmode.form.get('pmode.mep').valid || pmode.form.get('pmode.mepBinding').valid || pmode.form.get('pmode.messagePackaging').valid">
                <as4-input label="Allow PMode override" runtimeTooltip="allowoverride">
                    <input type="checkbox" formControlName="allowOverride" />
                </as4-input>
                <as4-input label="Message exchange pattern" runtimeTooltip="mep">
                    <select formControlName="mep">
                        <option value="0">One way</option>
                        <option value="1">Two way</option>
                    </select>
                </as4-input>
                <as4-input label="Message exchange pattern binding" runtimeTooltip="mepbinding">
                    <select formControlName="mepBinding" #mepBinding>
                        <option value="0">Push</option>
                        <option value="1">Pull</option>
                    </select>
                </as4-input>
            </div>
            <div tabitem title="Push" *ngIf="mepBinding.selectedIndex !== 1" [isInvalid]="(pmode.form.get('pmode.pushConfiguration').enabled && !pmode.form.get('pmode.pushConfiguration').valid) || (pmode.form.get('pmode.dynamicDiscovery').enabled && !pmode.form.get('pmode.dynamicDiscovery').valid)">
                <as4-input label="SMP/SML Discovery">
                    <input type="checkbox" name="dynamicDiscoveryEnabled" [formControl]="pmode.form.get('isDynamicDiscoveryEnabled')">
                </as4-input>
                <ng-container formGroupName="pushConfiguration" *ngIf="!pmode.form.get('isDynamicDiscoveryEnabled').value" runtimeTooltip="pushconfiguration">
                    <div class="sub-header-1">Protocol</div>
                    <as4-input label="Url" formGroupName="protocol" runtimeTooltip="protocol.url">
                        <input type="text" formControlName="url" />
                    </as4-input>
                    <div class="sub-header-1">TLS configuration</div>
                    <as4-input label="Enabled" formGroupName="tlsConfiguration" runtimeTooltip="tlsconfiguration.isenabled">
                        <input type="checkbox" formControlName="isEnabled" />
                    </as4-input>
                    <as4-input label="TLS version" formGroupName="tlsConfiguration" runtimeTooltip="tlsconfiguration.tlsversion">
                        <select formControlName="tlsVersion">
                                <option value="0">SSL30</option>
                                <option value="1">TLS10</option>
                                <option value="2">TLS11</option>
                                <option value="3">TLS12</option>
                            </select>
                    </as4-input>
                    <div class="sub-header">TLS client certificate</div>
                    <as4-input label="Client certificate find type" formGroupName="tlsConfiguration" runtimeTooltip="tlsconfiguration.clientcertificateinformation.clientcertificatefindtype">
                        <div formGroupName="clientCertificateInformation">
                            <select formControlName="clientCertificateFindType">
                                    <option value="0">Find by thumbprint</option>
                                    <option value="1">Find by subject name</option>
                                    <option value="2">Find by subject distinguished name</option>
                                    <option value="3">Find by issuer name</option>
                                    <option value="4">Find by issuer distinguished name</option>
                                    <option value="5">Find by serial number</option>
                                    <option value="6">Find by time valid</option>
                                    <option value="7">Find by time not yet valid</option>
                                    <option value="8">Find by time expired</option>
                                    <option value="9">Find by template name</option>
                                    <option value="10">Find by application policy</option>
                                    <option value="11">Find by certificate policy</option>
                                    <option value="12">Find by extension</option>
                                    <option value="13">Find by key usage</option>
                                    <option value="14">Find by subject key identifier</option>
                                </select>
                        </div>
                    </as4-input>
                    <as4-input label="Certificate find value" formGroupName="tlsConfiguration" runtimeTooltip="tlsconfiguration.clientcertificateinofrmation.clientcertificatefindvalue">
                        <div formGroupName="clientCertificateInformation">
                            <as4-thumbprint-input formControlName="clientCertificateFindValue"></as4-thumbprint-input>
                        </div>
                    </as4-input>
                </ng-container>
                <ng-container formGroupName="dynamicDiscovery" *ngIf="pmode.form.get('isDynamicDiscoveryEnabled').value">
                    <div class="sub-header-1">SMP/SML Discovery</div>
                    <as4-dynamicdiscovery label="SMP Profile" runtime="dynamicdiscovery" [types]="dynamicdiscoveryprofiles$ | async" [group]="pmode.form.get('pmode.dynamicDiscovery')"></as4-dynamicdiscovery>
                </ng-container>
            </div>
            <div tabitem title="Message packaging" [isValid]="pmode.form.get('pmode.messagePackaging')" runtimeTooltip="messagepackaging">
                <as4-message-packaging [form]="pmode.form.get('pmode.messagePackaging')" [disabled]="pmode.form.get('pmode.messagePackaging').disabled"></as4-message-packaging>
            </div>
            <div tabitem title="Security" formGroupName="security" [isValid]="!!!pmode.currentPmode || pmode.form.get('pmode.security').valid" runtimeTooltip="security">
                <div class="row">
                    <div formGroupName="signing" class="col-xs-12 col-md-6">
                        <div class="sub-header-1">Signing</div>
                        <as4-input label="Enabled" runtimeTooltip="signing.isenabled" controlSize="6">
                            <input type="checkbox" formControlName="isEnabled" />
                        </as4-input>
                        <as4-input label="Algorithm" runtimeTooltip="signing.algorithm" controlSize="6">
                            <input type="text" formControlName="algorithm" />
                        </as4-input>
                        <as4-input label="HashFunction" runtimeTooltip="signing.hashfunction" controlSize="6">
                            <input type="text" formControlName="hashFunction" />
                        </as4-input>
                        <div class="sub-header">Private key information</div>
                        <ng-container formGroupName="signingCertificateInformation" runtimeTooltip="signingcertificateinformation">
                            <as4-input label="Private key find type" runtimeTooltip="certificatefindtype" controlSize="6">
                                <select formControlName="certificateFindType">
                                    <option value="0">Find by thumbprint</option>
                                    <option value="1">Find by subject name</option>
                                    <option value="2">Find by subject distinguished name</option>
                                    <option value="3">Find by issuer name</option>
                                    <option value="4">Find by issuer distinguished name</option>
                                    <option value="5">Find by serial number</option>
                                    <option value="6">Find by time valid</option>
                                    <option value="7">Find by time not yet valid</option>
                                    <option value="8">Find by time expired</option>
                                    <option value="9">Find by template name</option>
                                    <option value="10">Find by application policy</option>
                                    <option value="11">Find by certificate policy</option>
                                    <option value="12">Find by extension</option>
                                    <option value="13">Find by key usage</option>
                                    <option value="14">Find by subject key identifier</option>
                                </select>
                            </as4-input>
                            <as4-input label="Private key find value" runtimeTooltip="certificatefindvalue" controlSize="6">
                                <as4-thumbprint-input formControlName="certificateFindValue"></as4-thumbprint-input>
                            </as4-input>
                        </ng-container>
                        <div class="sub-header">Key reference method</div>
                        <as4-input label="Key reference method" runtimeTooltip="signing.keyreferencemethod" controlSize="6">
                            <select formControlName="keyReferenceMethod">
                                    <option value="0">BSTReference</option>
                                    <option value="1">KeyIdentifier</option>
                                    <option value="2">IssuerSerial</option>
                                </select>
                        </as4-input>
                    </div>
                    <div formGroupName="encryption" class="col-xs-12 col-md-6" runtimeTooltip="encryption">
                        <div class="sub-header-1">Encryption</div>
                        <as4-input label="Enabled" runtimeTooltip="encryption.isenabled" controlSize="6">
                            <input type="checkbox" formControlName="isEnabled" />
                        </as4-input>
                        <as4-input label="Algorithm" controlSize="6" runtimeTooltip="algorithm">
                            <input type="text" formControlName="algorithm" />
                        </as4-input>
                        <as4-input label="AlgorithmKeySize" controlSize="6" runtimeTooltip="algorithmkeysize">
                            <input type="number" formControlName="algorithmKeySize" />
                        </as4-input>
                        <div class="sub-header">Public key information</div>
                        <ng-container formGroupName="encryptionCertificateInformation" runtimeTooltip="encryptioncertificateinformation">
                            <as4-input label="Public key find type" controlSize="6" runtimeTooltip="certificatefindtype">
                                <select formControlName="certificateFindType">
                                        <option value="0">Find by thumbprint</option>
                                        <option value="1">Find by subject name</option>
                                        <option value="2">Find by subject distinguished name</option>
                                        <option value="3">Find by issuer name</option>
                                        <option value="4">Find by issuer distinguished name</option>
                                        <option value="5">Find by serial number</option>
                                        <option value="6">Find by time valid</option>
                                        <option value="7">Find by time not yet valid</option>
                                        <option value="8">Find by time expired</option>
                                        <option value="9">Find by template name</option>
                                        <option value="10">Find by application policy</option>
                                        <option value="11">Find by certificate policy</option>
                                        <option value="12">Find by extension</option>
                                        <option value="13">Find by key usage</option>
                                        <option value="14">Find by subject key identifier</option>
                                    </select>
                            </as4-input>
                            <as4-input label="Public key find value" runtimeTooltip="certificatefindvalue" controlSize="6">
                                <as4-thumbprint-input formControlName="certificateFindValue"></as4-thumbprint-input>
                            </as4-input>
                        </ng-container>
                        <div class="sub-header">Key transport</div>
                        <div formGroupName="keyTransport" runtimeTooltip="keytransport">
                            <as4-input label="Key Transport algorithm" runtimeTooltip="transportAlgorithm" controlSize="6">
                                <input type="text" formControlName="transportAlgorithm">
                            </as4-input>
                            <as4-input label="Key Digest algorithm" runtimeTooltip="digestAlgorithm" controlSize="6">
                                <input type="text" formControlName="digestAlgorithm">
                            </as4-input>
                            <as4-input label="Key Mgf algorithm" runtimeTooltip="mgfAlgorithm" controlSize="6">
                                <input type="text" formControlName="mgfAlgorithm">
                            </as4-input>
                        </div>
                    </div>
                </div>
            </div>
            <div tabitem title="Reliability" formGroupName="reliability" [isValid]="!!!pmode.currentPmode || pmode.form.get('pmode.reliability').valid">
                <div formGroupName="receptionAwareness">
                    <as4-input label="Reception awareness" runtimeTooltip="reliability.receptionawareness.isenabled">
                        <input type="checkbox" formControlName="isEnabled" />
                    </as4-input>
                    <as4-input label="Retry count" runtimeTooltip="reliability.receptionawareness.retrycount">
                        <input type="number" formControlName="retryCount" />
                    </as4-input>
                    <as4-input label="Retry interval" runtimeTooltip="reliability.receptionawareness.retryinterval">
                        <input type="text" [textMask]="{ mask: mask}" formControlName="retryInterval" />
                    </as4-input>
                </div>
            </div>
            <div tabitem title="Receipt handling" formGroupName="receiptHandling" [isValid]="!!!pmode.currentPmode || pmode.form.get('pmode.receiptHandling').valid" runtimeTooltip="receipthandling">
                <as4-input label="Verify Non-Repudiation Information" runtimeTooltip="verifyNRR">
                    <input type="checkbox" formControlName="verifyNRR" />
                </as4-input>
                <as4-input label="Notify message producer" runtimeTooltip="notifymessageproducer">
                    <input type="checkbox" formControlName="notifyMessageProducer" />
                </as4-input>
                <as4-method label="Notify method" runtime="notifymethod" [group]="pmode.form.get('pmode.receiptHandling.notifyMethod')" [types]="notifySenders$ | async"></as4-method>
            </div>
            <div tabitem title="Error handling" formGroupName="errorHandling" [isValid]="!!!pmode.currentPmode || pmode.form.get('pmode.errorHandling').valid" runtimeTooltip="errorhandling">
                <as4-input label="Notify message producer" runtimeTooltip="notifymessageproducer">
                    <input type="checkbox" formControlName="notifyMessageProducer" />
                </as4-input>
                <as4-method label="Notify method" runtime="notifymethod" [group]="pmode.form.get('pmode.errorHandling.notifyMethod')" [types]="notifySenders$ | async"></as4-method>
            </div>
            <div tabitem title="Exception handling" formGroupName="exceptionHandling" [isValid]="!!!pmode.currentPmode || pmode.form.get('pmode.exceptionHandling').valid" runtimeTooltip="exceptionhandling">
                <as4-input label="Notify message producer" runtimeTooltip="notifymessageproducer">
                    <input type="checkbox" formControlName="notifyMessageProducer" />
                </as4-input>
                <as4-method label="Notify method" runtime="notifymethod" [group]="pmode.form.get('pmode.exceptionHandling.notifyMethod')" [types]="notifySenders$ | async"></as4-method>
            </div>
        </as4-tab>
    </div>
</form>