<div class="box" [class.collapsed-box]="collapsed">
    <div class="box-header with-border">
        <div class="trigger" (click)="trigger.click()">
            <h3 class="box-title">{{title}}</h3>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" #trigger><i class="fa" [class.fa-minus]="!collapsed" [class.fa-plus]="collapsed"></i></button>
            <ng-content select="[action]"></ng-content>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <ng-content select="[content]"></ng-content>
        </div>
    </div>
    <div class="box-footer">
        <div class="row">
            <ng-content select="[footer]"></ng-content>
        </div>
    </div>
</div>