html,
body {
    height: 100%;
}

span.active {
    background-color: gray;
}

.stack-trace {
    margin-top: 10px;
    p {
        height: 100px;
        overflow: hidden;
        overflow-y: scroll;
    }
    h4 {
        display: inline;
        font-weight: bold;
    }
}
