<header class="main-header" *ngIf="isLoggedIn">
    <div href="index2.html" class="logo">
        <img src="assets/img/logo.png" />
    </div>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="user user-menu">
                    <a (click)="logout()"><i class="fa fa-sign-out clickable" alt="Logout"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>