.ui-calendar {
    .ui-datepicker {
        background-color: #FFFFFF;
    }
    input {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
