$invalidColor: #dd4b39;
form {
    select.ng-invalid,
    input.ng-invalid,
    div.ng-invalid>input,
    div.ng-invalid>select {
        border: 1px solid $invalidColor;
    }
    .control-label {
        font-weight: 100;
    }
    h5 {
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 1px;
        margin-bottom: 1px;
    }
    .table {
        margin-bottom: 0;
        tr>td {
            padding: 0;
            padding-right: 5px;
            border-top: 0;
        }
        tr>td:last-child {
            padding-right: 0;
            text-align: right;
        }
        tr:not(:last-child)>td {
            padding-bottom: 5px;
        }
    }
    .form-group .form-group {
        margin-bottom: 0px;
    }
}

.input-group {
    &-btn {
        .btn {
            width: 36px;
        }
    }
    input {
        z-index: 100 !important;
    }
}