.select2 {
    border: 1px solid $borderColor;
    height: 34px !important;
    overflow: hidden;
    overflow-y: auto;
    margin-right: 36px;
    width: 99.9% !important;
    &-selection {
        border-radius: 0 !important;
        border-color: #d2d6de !important;
        border: 0 !important;
        &__choice {
            border-radius: 0 !important;
            border: 0 !important;
            background-color: $focusColor !important;
        }
    }
    &-results__option {
        &--highlighted {
            background-color: #1E90FF;
        }
        height: 30px;
    }
    &-container {
        z-index: 20000;
    }
    &-container--focus {
        border: 1px solid $focusColor;
    }
    &-selection__choice__remove {
        margin-right: 2px;
    }
    &-selection__rendered {
        margin-bottom: 0;
        width: 100%;
        list-style: none;
        ul {
            margin: 0;
            li {
                float: left;
                &:not(:last-child) {
                    margin-top: 5px;
                }
                &:not(:first-child) {
                    padding-left: 5px;
                }
            }
        }
        &-search {
            width: 99.9%;
        }
        input {
            border: none !important;
        }
    }
    &-selection__rendered:after {
        clear: both;
    }
}