@import './variables.scss';
@import 'grippy.scss';
@import 'forms.scss';
@import 'modal.scss';
@import 'tabs.scss';
@import 'datepicker.scss';
@import './tooltip.scss';
@import '../app/common/multiselect/multiselect.directive.scss';

.clickable {
    cursor: pointer;
}

table {
    tr > td.action {
        width: 1%;
    }
}

i.active {
    color: $primary;
}

.btn-box-tool {
    i {
        font-size: 15px;
    }

    margin-top: -4px;
}

.col-small {
    width: 2px;
}