<as4-box title="Filters" collapsible="true">
    <div content>
        <form class="form-horizontal" [formGroup]="filterForm">
            <as4-filter #filter [filter]="messageFilter" (onFiltersLoaded)="filtersLoaded($event)">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <as4-input label="Direction" labelSize="3" controlSize="9">
                            <div class="input-group">
                                <select formControlName="direction" multiselect>
                                <option value="0">Inbound</option>
                                <option value="1">Outbound</option>
                            </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" (click)="resetForm('direction')"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </as4-input>
                        <as4-input label="ebMS message type" labelSize="3" controlSize="9">
                            <div class="input-group">
                                <select formControlName="ebmsMessageType" multiselect>
                                <option value="0">User message</option>
                                <option value="1">Exception</option>
                                <option value="2">Receipt</option>
                            </select>
                                <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" (click)="resetForm('ebmsMessageType')"><i class="fa fa-trash"></i></button>
                            </span>
                            </div>
                        </as4-input>

                        <as4-input label="Status" labelSize="3" controlSize="9">
                            <div class="input-group">
                                <select name="status" formControlName="status" multiselect>
                                <option value="0">Received</option>
                                <option value="1">Delivered</option>
                                <option value="2">Created</option>
                                <option value="3">Notified</option>
                                <option value="4">Exception</option>
                                <option value="5">Not applicable</option>
                                <option value="6">Submitted</option>
                                <option value="7">Nack</option>
                                <option value="8">Sent</option>
                            </select>
                                <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" (click)="resetForm('status')"><i class="fa fa-trash"></i></button>
                        </span>
                            </div>
                        </as4-input>
                        <as4-input label="ebMS message id" labelSize="3" controlSize="9">
                            <input type="text" name="ebmsMessageId" formControlName="ebmsMessageId" name="ebmsMessageId" />
                        </as4-input>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <as4-input label="From party" labelSize="3" controlSize="9">
                            <input type="text" formControlName="fromParty" />
                        </as4-input>
                        <as4-input label="PMode" labelSize="3" controlSize="9">
                            <div class="input-group">
                                <as4-pmode-select formControlName="pmode" multi="true"></as4-pmode-select>
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" (click)="resetForm('pmode')"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </as4-input>
                        <as4-input label="To party" labelSize="3" controlSize="9">
                            <input type="text" formControlName="toParty" />
                        </as4-input>
                        <as4-input label="Insertion time" labelSize="3" controlSize="9">
                            <as4-timeinput [input]="filterForm" type="insertionTimeType" from="insertionTimeFrom" to="insertionTimeTo"></as4-timeinput>
                        </as4-input>
                        <as4-input controlSize="12" [showLabel]="false" *ngIf="!!!advanced">
                            <button type="submit" [disabled]="!filterForm.valid" class="btn btn-default pull-right" (click)="toggleSearch()"><i class="fa fa-search"></i></button>
                        </as4-input>
                    </div>
                </div>
                <div class="row">
                    <p class="clickable row__advanced" (click)="advanced = !advanced"><i class="fa" [class.fa-chevron-right]="!advanced" [class.fa-chevron-down]="advanced"></i>Advanced</p>
                    <div *ngIf="advanced">
                        <div class="col-xs-12 col-md-6">
                            <as4-input label="Message exchange pattern" labelSize="3" controlSize="9">
                                <div class="input-group">
                                    <select name="MEP" formControlName="mep" multiselect>
                                    <option value="0">Push</option>
                                    <option value="1">Pull</option>
                                </select>
                                    <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" (click)="resetForm('mep')"><i class="fa fa-trash"></i></button>
                                </span>
                                </div>
                            </as4-input>
                            <as4-input label="Operation" labelSize="3" controlSize="9">
                                <div class="input-group">
                                    <select name="operation" formControlName="operation" multiselect>
                                        <option value="0">Not applicable</option>
                                        <option value="1">Undetermined</option>
                                        <option value="2">To be sent</option>
                                        <option value="3">Sending</option>
                                        <option value="4">Sent</option>
                                        <option value="5">Dead lettered</option>
                                        <option value="6">To be notified</option>
                                        <option value="7">Notifying</option>
                                        <option value="8">Notified</option>
                                        <option value="9">To be delivered</option>
                                        <option value="10">Delivering</option>
                                        <option value="11">Delivered</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button" (click)="resetForm('operation')"><i class="fa fa-trash"></i></button>
                                    </span>
                                </div>
                            </as4-input>
                            <as4-input label="Service" labelSize="3" controlSize="9">
                                <input type="text" formControlName="service" />
                            </as4-input>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <as4-input label="Action" labelSize="3" controlSize="9">
                                <input type="text" formControlName="service" />
                            </as4-input>
                            <as4-input label="MPC" labelSize="3" controlSize="9">
                                <input type="text" formControlName="mpc" />
                            </as4-input>
                            <as4-input controlSize="12" [showLabel]="false" *ngIf="advanced">
                                <button type="submit" [disabled]="!filterForm.valid" class="btn btn-default pull-right" (click)="toggleSearch()"><i class="fa fa-search"></i></button>
                            </as4-input>
                        </div>
                    </div>
                </div>
            </as4-filter>
        </form>
    </div>
</as4-box>
<as4-box title="Messages">
    <div content *ngIf="messages | async as messageData">
        <div class="row margin-bottom">
            <div class="col-xs-3">
                <ul class="legend">
                    <li class="active" as4-tooltip="Exceptions are always shown"><span class="exception"></span> Exceptions</li>
                    <li class="clickable" [ngClass]="{ 'active': filterForm.get('showDuplicates').value }" as4-tooltip="Show duplicate messages"
                        (click)="toggleSearch(); filterForm.get('showDuplicates').setValue(!messageFilter.showDuplicates)"><span class="duplicate"></span> Duplicates</li>
                    <li class="clickable" [ngClass]="{ 'active': filterForm.get('showTests').value }" as4-tooltip="Show test messages" (click)="toggleSearch(); filterForm.get('showTests').setValue(!messageFilter.showTests)"><span class="test"></span> Tests</li>
                </ul>
            </div>
            <div class="col-xs-9" as4-pager [pages]="messageData.pages" [pageTotal]="messageData.messages.length" [total]="messageData.total"
                [page]="messageData.page" (onChangePage)="filterForm.get('page').setValue($event); filter.search()"></div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <colgroup>
                    <col width="1%">
                    <col width="1%">
                    <col width="1%">
                    <col width="4%">
                    <col width="1%">
                    <col width="1%">
                    <col width="9%">
                    <col width="6%">
                    <col width="6%">
                    <col width="1%">
                    <col width="3%">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Direction</th>
                        <th>Insertion time</th>
                        <th>Message type</th>
                        <th>Status</th>
                        <th>ebMS message id</th>
                        <th>From party</th>
                        <th>To party</th>
                        <th>Operation</th>
                        <th>PMode</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let message of messageData.messages; let i = index">
                        <tr [ngClass]="{ 'danger': message.hasExceptions, 'delivered': message.isDuplicate, 'test': message.isTest }" *ngIf="messageData.messages.length > 0">
                            <td (click)="toggle(message)" class="clickable">
                                <i class="fa" [class.fa-chevron-right]="message !== activeMessage" [class.fa-chevron-down]="message === activeMessage"></i>
                            </td>
                            <td>
                                <as4-downloadmessagebody [type]="'message'" [direction]="message.direction" [id]="message.ebmsMessageId"></as4-downloadmessagebody>
                            </td>
                            <td>{{message.direction | todirection}}</td>
                            <td>{{message.insertionTime | todate}}</td>
                            <td>{{message.ebmsMessageType}}</td>
                            <td>{{message.status}}</td>
                            <td>{{message.ebmsMessageId}}
                                <as4-clipboard [content]="message.ebmsMessageId"></as4-clipboard>
                            </td>
                            <td class="break">
                                {{message.fromParty}}
                                <as4-clipboard [content]="message.fromParty"></as4-clipboard>
                            </td>
                            <td class="break">
                                {{message.toParty}}
                                <as4-clipboard [content]="message.toParty"></as4-clipboard>
                            </td>
                            <td>{{message.operation}}</td>
                            <td>
                                <a target="_blank" [routerLink]="['/pmodes', filter.outFilter.direction === '0' ? 'receiving' : 'sending', message.pModeId]"
                                    [queryParams]="{ compareto: message.hash }">{{message.pModeId}}</a>
                            </td>
                        </tr>
                        <tr *ngIf="message === activeMessage">
                            <td colspan="11">
                                <as4-tab>
                                    <div tabitem title="Related messages" class="related-messages">
                                        <as4-related-messages [messageId]="message.ebmsMessageId" [direction]="message.direction"></as4-related-messages>
                                    </div>
                                    <div tabitem title="Info" class="info-tab">
                                        <div class="col-xs-12 col-md-6">
                                            <table class="table table-striped table-hover">
                                                <colgroup>
                                                    <col width="20%">
                                                    <col>
                                                </colgroup>
                                                <tr>
                                                    <td><b>Exchange pattern</b></td>
                                                    <td>{{!!message.mep ? message.mep : 'N/A'}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Operation</b></td>
                                                    <td>{{!!message.operation ? message.operation : 'N/A'}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Service</b></td>
                                                    <td>{{!!message.service ? message.service : 'N/A'}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <table class="table table-striped table-hover">
                                                <colgroup>
                                                    <col width="20%">
                                                    <col>
                                                </colgroup>
                                                <tr>
                                                    <td><b>Action</b></td>
                                                    <td>{{!!message.action ? message.action : 'N/A'}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>MPC</b></td>
                                                    <td>{{!!message.mpc ? message.mpc : 'N/A'}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div tabitem title="Exceptions" class="exceptions">
                                        <as4-error-message [message]="message" [direction]="+filter.outFilter.direction === 0 ? 1 : 0" target="_blank"></as4-error-message>
                                    </div>
                                </as4-tab>
                            </td>
                        </tr>
                    </ng-container>
                    <tr *ngIf="messageData.messages.length === 0">
                        <td colspan="12" class="text-center">
                            <i>No data found.</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row margin-top">
            <div class="col-xs-3">
                <ul class="legend">
                    <li class="active" as4-tooltip="Exceptions are always shown"><span class="exception"></span> Exceptions</li>
                    <li class="clickable" [ngClass]="{ 'active': filterForm.get('showDuplicates').value }" as4-tooltip="Show duplicate messages"
                        (click)="toggleSearch(); filterForm.get('showDuplicates').setValue(!messageFilter.showDuplicates)"><span class="duplicate"></span> Duplicates</li>
                    <li class="clickable" [ngClass]="{ 'active': filterForm.get('showTests').value }" as4-tooltip="Show test messages" (click)="toggleSearch(); filterForm.get('showTests').setValue(!filterForm.showTests)"><span class="test"></span> Tests</li>
                </ul>
            </div>
            <div class="col-xs-9" as4-pager [pages]="messageData.pages" [pageTotal]="messageData.messages.length" [total]="messageData.total"
                [page]="messageData.page" (onChangePage)="filter.filter.page = $event; filter.search()"></div>
        </div>
    </div>
</as4-box>