<form [formGroup]="form" class="form-horizontal">
    <div formGroupName="pmode">
        <as4-box>
            <div content class="col-md-6 col-xs-12">
                <as4-input label="Name">
                    <div class="input-group">
                        <select class="form-control select-pmode" (change)="pmodeChanged($event.target.value)">
                            <option value="undefined">Select an option</option>
                            <option *ngFor="let pmode of pmodes" [selected]="pmode === (currentPmode && currentPmode.name)">{{currentPmode && currentPmode.name === pmode && !!form && !!form.controls ? form.controls.name.value : pmode}}</option>
                        </select>
                        <div class="input-group-btn" crud-buttons [form]="form" (add)="add()" (rename)="rename()" (reset)="reset()" (delete)="delete()"
                            [current]="currentPmode" [isNewMode]="isNewMode"></div>
                    </div>
                </as4-input>
            </div>
        </as4-box>
        <as4-box title="Message exchange pattern" collapsed="true" collapsible="true">
            <div content class="col-md-6 col-xs-12">
                <as4-input label="Id">
                    <input type="text" class="form-control" formControlName="id" />
                </as4-input>
                <as4-input label="Message exchange pattern">
                    <select formControlName="mep" class="form-control">
                        <option value="0">One way</option>
                        <option value="1">Two way</option>
                    </select>
                </as4-input>
                <as4-input label="Message exchange pattern binding">
                    <select formControlName="mepBinding" class="form-control">
                        <option value="0">Pull</option>
                        <option value="1">Push</option>
                    </select>
                </as4-input>
                <div formGroupName="reliability">
                    <as4-input label="Reliability - duplicate elimination" formGroupName="duplicateElimination">
                        <input type="checkbox" formControlName="isEnabled" />
                    </as4-input>
                </div>
            </div>
        </as4-box>
        <as4-box title="Receipt handling" collapsed="true" collapsible="true">
            <div content formGroupName="receiptHandling" class="col-md-6 col-xs-12">
                <as4-input label="Use NNR format">
                    <input type="checkbox" formControlName="useNNRFormat" />
                </as4-input>
                <as4-input label="Reply patter">
                    <select formControlName="replyPattern" class="form-control">
                        <option value="0">Response</option>
                        <option value="1">Callback</option>
                    </select>
                </as4-input>
                <as4-input label="Callback url">
                    <input type="text" class="form-control" formControlName="callbackUrl" />
                </as4-input>
                <as4-input label="Sending PMode">
                    <as4-pmode-select mode="sending" formControlName="sendingPMode"></as4-pmode-select>
                </as4-input>
            </div>
        </as4-box>
        <as4-box title="Error handling" collapsed="true" collapsible="true">
            <div content formGroupName="errorHandling" class="col-md-6 col-xs-12">
                <as4-input label="Use soap fault">
                    <input type="text" formControlName="useSoapFault" class="form-control">
                </as4-input>
                <as4-input label="Reply pattern">
                    <select formControlName="replyPattern" class="form-control">
                        <option value="0">Response</option>
                        <option value="1">Callback</option>
                    </select>
                </as4-input>
                <as4-input label="Callback url">
                    <input type="text" formControlName="callbackUrl" class="form-control">
                </as4-input>
                <as4-input label="Response http code">
                    <input type="text" formControlName="responseHttpCode" class="form-control">
                </as4-input>
                <as4-input label="Sending pmode">
                    <as4-pmode-select mode="sending" formControlName="sendingPMode"></as4-pmode-select>
                </as4-input>
            </div>
        </as4-box>
        <as4-box title="Exception handling" collapsed="true" collapsible="true">
            <div content formGroupName="exceptionHandling" class="col-md-6 col-xs-12">
                <as4-input label="Notify message consumer">
                    <input type="checkbox" formControlName="notifyMessageConsumer" />
                </as4-input>
                <h3>Notify method</h3>
                <as4-method [group]="form.controls.pmode.controls.exceptionHandling.controls.notifyMethod" [types]="deliverSenders"></as4-method>
            </div>
        </as4-box>
        <as4-box title="Security" collapsed="true" collapsible="true">
            <div content formGroupName="security" class="col-md-6 col-xs-12">
                <as4-input label="Signing verification" formGroupName="signingVerification">
                    <input type="text" class="form-control" formControlName="signature" />
                </as4-input>
                <as4-input label="Decryption" formGroupName="decryption">
                    <select class="form-control" formControlName="encryption">
                        <option value="0">Allowed</option>
                        <option value="1">Not allowed</option>
                        <option value="2">Required</option>
                        <option value="3">Ignored</option>
                    </select>
                </as4-input>
                <as4-input label="Private key find value" formGroupName="decryption">
                    <input type="text" class="form-control" formControlName="privateKeyFindValue" />
                </as4-input>
                <as4-input label="Private key find type" formGroupName="decryption">
                    <select class="form-control" formControlName="privateKeyFindType">
                        <option value="0">Find by thumbprint</option>
                        <option value="1">Find by subject name</option>
                        <option value="2">Find by subject distinguished name</option>
                        <option value="3">Find by issuer name</option>
                        <option value="4">Find by issuer distinguished name</option>
                        <option value="5">Find by serial number</option>
                        <option value="6">Find by time valid</option>
                        <option value="7">Find by time not yet valid</option>
                        <option value="8">Find by time expired</option>
                        <option value="9">Find by template name</option>
                        <option value="10">Find by application policy</option>
                        <option value="11">Find by certificate policy</option>
                        <option value="12">Find by extension</option>
                        <option value="13">Find by key usage</option>
                        <option value="14">Find by subject key identifier</option>
                    </select>
                </as4-input>
            </div>
        </as4-box>
        <as4-box title="Message packaging" collapsed="true" collapsible="true">
            <div content class="col-md-6 col-xs-12" formGroupName="messagePackaging">
                <h3>Party info</h3>
                <as4-input label="From party">
                    <as4-party [group]="form.controls.pmode.controls.messagePackaging.controls.partyInfo.controls.fromParty"></as4-party>
                </as4-input>
                <as4-input label="To party">
                    <as4-party [group]="form.controls.pmode.controls.messagePackaging.controls.partyInfo.controls.toParty"></as4-party>
                </as4-input>

                <h3>Collaboration info</h3>
                <div formGroupName="collaborationInfo">
                    <as4-input label="Action">
                        <input type="text" class="form-control" formControlName="action" />
                    </as4-input>
                    <as4-input label="Conversation id">
                        <input type="text" class="form-control" formControlName="conversationId" />
                    </as4-input>
                    <h4>Agreement reference</h4>
                    <as4-input label="Value" formGroupName="agreementRef">
                        <input type="text" class="form-control" formControlName="value" />
                    </as4-input>
                    <as4-input label="Type" formGroupName="agreementRef">
                        <input type="text" class="form-control" formControlName="refType" />
                    </as4-input>
                    <as4-input label="PmodeId" formGroupName="agreementRef">
                        <input type="text" class="form-control" formControlName="pModeId" />
                    </as4-input>
                    <h4>Service</h4>
                    <as4-input label="Value" formGroupName="service">
                        <input type="text" class="form-control" formControlName="value" />
                    </as4-input>
                    <as4-input label="Type" formGroupName="service">
                        <input type="text" class="form-control" formControlName="type" />
                    </as4-input>
                </div>
            </div>
        </as4-box>

        <as4-box title="Deliver" collapsed="true" collapsible="true">
            <div content class="col-md-6 col-xs-12" formGroupName="deliver">
                <as4-input label="Is enabled">
                    <input type="checkbox" formControlName="isEnabled" />
                </as4-input>
                <h3>Payload reference method</h3>
                <as4-method [group]="form.controls.pmode.controls.deliver.controls.payloadReferenceMethod" [types]="deliverSenders"></as4-method>
                <h3>Deliver method</h3>
                <as4-method [group]="form.controls.pmode.controls.deliver.controls.deliverMethod" [types]="deliverSenders"></as4-method>
            </div>
        </as4-box>
    </div>
</form>