<div *ngIf="exceptions | async as exceptionData">
    <table class="table table-striped" *ngIf="exceptionData.messages?.length > 0 && !isLoading">
        <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <th>Direction</th>
                <th>Insertion time</th>
                <th>Exception</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let message of exceptionData.messages">
                <td>{{message.direction | todirection}}</td>
                <td>{{message.insertionTime | todate}}</td>
                <td><a [routerLink]="['../exceptions', message.direction, message.id]" target="_blank">{{message.exceptionShort}}</a>
                    <as4-clipboard [content]="message.exception"></as4-clipboard>
                </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="isLoading">Loading exception messages ...&nbsp;<i class="fa fa-refresh fa-spin"></i> </p>
    <p *ngIf="!isLoading && exceptionData.messages?.length === 0">No exceptions found</p>
</div>