@import 'grippy.scss';

/* Variables */

$color:#3c8dbc;
 
/* EOF Variables */

.clickable {
    cursor: pointer;
}

.as4-tooltip {
    color: $color;
}

table {
    tr > td.action {
        width: 1%;
    }
}

i.active {
    color: $color;
}

.btn-box-tool {
    i {
        font-size: 15px;
    }

    margin-top: -4px;
}

.col-small {
    width: 2px;
}