<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.diagnostics>

		<sources>
			<source name="System.Security.Cryptography.Xml.SignedXml" switchName="XmlDsigLogSwitch">

				<listeners>
					<add name="logFile" />
				</listeners>
			</source>
		</sources>

		<switches>
			<add name="XmlDsigLogSwitch" value="Verbose" />
			<!-- possible values: Off Error Warning Info Verbose -->
		</switches>

		<sharedListeners>
			<add name="logFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="XmlDsigLog.txt" />
		</sharedListeners>

		<trace autoflush="true">

			<listeners>
				<add name="logFile" />
			</listeners>

		</trace>
	</system.diagnostics>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
</configuration>
