<form [formGroup]="form" class="form-horizontal">
    <as4-box [collapsed]="false">
        <button action type="button" class="btn btn-box-tool"><i class="fa fa-save"></i></button>
        <div content>
            <as4-input [label]="'Name'">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="name" as4-no-auth/>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-flat" (click)="save()" [class.btn-primary]="form.dirty" [disabled]="!form.dirty"><i class="fa fa-save"></i></button>
                        <button type="button" class="btn btn-flat" (click)="reset()" [class.btn-primary]="form.dirty" [disabled]="!form.dirty"><i class="fa fa-undo"></i></button>
                        <button type="button" class="btn btn-flat" (click)="delete()" [disabled]="isNew"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </as4-input>
            <div formGroupName="transformer">
                <as4-input [label]="'Transformer'">
                    <select class="form-control" formControlName="type">
                        <option *ngFor="let transformer of transformers" [value]="transformer.technicalName">{{transformer.name}}</option>
                    </select>
                </as4-input>
            </div>
        </div>
    </as4-box>

    <as4-box [title]="'Receiver'" [collapsed]="false">
        <div content>
            <as4-receiver [group]="form.get('receiver')"></as4-receiver>
        </div>
    </as4-box>

    <as4-box title="Step configuration" collapsible="true" [collapsed]="!!!currentAgent || (currentAgent && !!currentAgent.stepConfiguration)">
        <div content>
            <as4-input label="Normal pipeline">
                <as4-step-settings [disabled]="form.get('stepConfiguration')?.disabled" [group]="form.get('stepConfiguration.normalPipeline')"></as4-step-settings>
            </as4-input>
            <as4-input label="Error pipeline">
                <as4-step-settings [disabled]="form.get('stepConfiguration')?.disabled" [group]="form.get('stepConfiguration.errorPipeline')"></as4-step-settings>
            </as4-input>
        </div>
    </as4-box>
</form>