<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0" targetFramework="net45" />
  <package id="mustache-sharp" version="0.2.10" targetFramework="net40" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="portable-net45+win80+wp80+wpa81" />
  <package id="System.Reflection.Metadata" version="1.0.21" targetFramework="portable-net45+win80" />
</packages>