<as4-modal name="new-agent" title="Create a new agent" (shown)="actionType = settings[0]?.name; newName = ''; nameInput.focus()">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-2">New name</label>
            <div class="col-xs-10">
                <input type="text" as4-no-auth class="form-control" #nameInput (keyup)="newName = $event.target.value" [value]="newName"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2">Use</label>
            <div class="col-xs-10">
                <select as4-no-auth class="form-control" (change)="actionType = $event.target.value" #select>
                    <option *ngFor="let setting of settings" [selected]="actionType === setting.name" [ngValue]="setting.name">{{setting.name}}</option>
                    <option value="-1" [selected]="actionType === -1">Custom</option>
                </select>
            </div>
        </div>
    </form>
</as4-modal>
<form [formGroup]="form" class="form-horizontal" #agent>
    <as4-box [collapsed]="false">
        <button action type="button" class="btn btn-box-tool"><i class="fa fa-save"></i></button>
        <div content>
            <as4-input [label]="'Name'">
                <div class="input-group">
                    <select as4-no-auth name="name" (change)="selectAgent($event.target.value); agentSelect.value = currentAgent && currentAgent.name"
                        class="form-control" #agentSelect>
                        <option value="undefined">Select an option</option>
                        <option *ngFor="let agent of settings" [ngValue]="agent.name" [selected]="currentAgent && currentAgent.name === agent.name">{{currentAgent && (currentAgent.name == agent.name) && !!form && !!form.controls ? form.controls.name.value : agent.name}}</option>
                    </select>
                    <div class="input-group-btn" crud-buttons [current]="currentAgent" [isNewMode]="isNewMode" [form]="form" (rename)="rename()"
                        (add)="addAgent()" (save)="save()" (delete)="delete()" (reset)="reset()"></div>
                </div>
            </as4-input>
            <div formGroupName="transformer">
                <as4-input [label]="'Transformer'">
                    <select class="form-control" formControlName="type">
                        <option *ngFor="let transformer of transformers" [value]="transformer.technicalName">{{transformer.name}}</option>
                    </select>
                </as4-input>
            </div>
        </div>
    </as4-box>
    <as4-box [title]="'Receiver'">
        <div content>
            <as4-receiver [group]="form.get('receiver')"></as4-receiver>
        </div>
    </as4-box>

    <as4-box title="Step configuration" collapsible="true" [collapsed]="!!!currentAgent || (currentAgent && !!currentAgent.stepConfiguration)">
        <div content>
            <as4-input label="Normal pipeline">
                <as4-step-settings [disabled]="form.get('stepConfiguration').disabled" [group]="form.get('stepConfiguration.normalPipeline')"></as4-step-settings>
            </as4-input>
            <as4-input label="Error pipeline">
                <as4-step-settings [disabled]="form.get('stepConfiguration').disabled" [group]="form.get('stepConfiguration.errorPipeline')"></as4-step-settings>
            </as4-input>
        </div>
    </as4-box>
</form>