<as4-input [tooltip]="runtimeType.description" [labelSize]="labelSize" [controlSize]="controlSize">
    <span label>{{runtimeType.friendlyName}}</span>
    <div [ngSwitch]="runtimeType.type" [formGroup]="control">
        <input *ngSwitchCase="'int'" type="number" class="form-control" name="type" formControlName="value" />
        <input *ngSwitchCase="'int32'" type="number" class="form-control" name="type" formControlName="value" />
        <input *ngSwitchCase="'int64'" type="number" class="form-control" name="type" formControlName="value" />
        <input *ngSwitchCase="'long'" type="number" class="form-control" name="type" formControlName="value" />
        <input *ngSwitchCase="'boolean'" type="checkbox" name="type" formControlName="value" />
        <input *ngSwitchCase="'password'" type="password" name="type" formControlName="value" />
        <as4-pmode-select *ngSwitchCase="'sendingpmode'" mode="sending" formControlName="value"></as4-pmode-select>
        <as4-pmode-select *ngSwitchCase="'receivingpmode'" mode="receiving" formControlName="value"></as4-pmode-select>
        <as4-pmode-select *ngSwitchCase="'pmode'" formControlName="value"></as4-pmode-select>
        <input *ngSwitchCase="'timespan'" type="text" [textMask]="{ mask: timeSpanMask }" formControlName="value"
        />
        <input *ngSwitchDefault type="text" class="form-control" name="type" formControlName="value" />
    </div>
</as4-input>
<as4-input label="Parameters" *ngIf="!!control.get('attributes').controls && control.get('attributes').controls.length > 0"
    [isLabelBold]="false">
    <table class="table table-condensed">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tr *ngFor="let attribute of control.get('attributes').controls | getkeys; let i = index">
            <td>{{attribute}}</td>
            <td><input type="text" [formControl]="control.get('attributes').controls[i].get(attribute)" /></td>
        </tr>
    </table>
</as4-input>