<div *ngIf="messages | async; let messageData">
    <table class="table table-responsive" *ngIf="!isLoading">
        <thead>
            <tr>
                <th></th>
                <th>Direction</th>
                <th>Insertion time</th>
                <th>Message id</th>
                <th>From party</th>
                <th>To party</th>
                <th>Message type</th>
                <th>Status</th>
                <th>Operation</th>
                <th>Content type</th>
                <th>PMode</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let message of messageData">
                <td>
                    <as4-downloadmessagebody [type]="'message'" [direction]="message.direction" [id]="message.ebmsMessageId"></as4-downloadmessagebody>
                </td>
                <td>{{message.direction | todirection}}</td>
                <td>{{message.insertionTime | todate}}</td>
                <td><a [routerLink]="['/monitor/messages']" [queryParams]="{ direction: message.direction, ebmsMessageId: message.ebmsMessageId }"
                        target="_blank">{{message.ebmsMessageId}}</a></td>
                <td>{{message.fromParty}}</td>
                <td>{{message.toParty}}</td>
                <td>{{message.ebmsMessageType}}</td>
                <td>{{message.status}}</td>
                <td>{{message.operation}}</td>
                <td>{{message.contentType}}</td>
                <td>
                    <a [routerLink]="['/pmodes', +direction === 0 ? 'receiving' : 'sending', message.pMode]" [queryParams]="{ compareto: message.hash }">{{message.pMode}}</a>
                </td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="isLoading">Loading related messages ...&nbsp;<i class="fa fa-refresh fa-spin"></i> </p>
    <p *ngIf="!isLoading && messageData.length === 0">No messages available</p>
</div>