<form [formGroup]="pmode.form" class="form-horizontal" disabled>
    <div formGroupName="pmode" runtimeTooltip="receivingprocessingmode">
        <as4-box>
            <div content>
                <as4-pmode #pmode></as4-pmode>
            </div>
        </as4-box>
        <as4-tab>
            <div tabitem title="Common">
                <as4-input label="Message exchange pattern" runtimeTooltip="mep">
                    <select formControlName="mep">
                        <option [ngValue]="0">One way</option>
                        <option [ngValue]="1">Two way</option>
                    </select>
                </as4-input>
                <as4-input label="Message exchange pattern binding" runtimeTooltip="mepbinding">
                    <select formControlName="mepBinding">
                        <option [ngValue]="0">Push</option>
                        <option [ngValue]="1">Pull</option>
                    </select>
                </as4-input>
                <div formGroupName="reliability">
                    <as4-input label="Reliability - duplicate elimination" formGroupName="duplicateElimination" runtimeTooltip="reliability.duplicateelimination.isenabled">
                        <input type="checkbox" formControlName="isEnabled" />
                    </as4-input>
                </div>
            </div>
            <div tabitem title="Reply handling" formGroupName="replyHandling" [isValid]="pmode.form.get('pmode.replyHandling')" runtimeTooltip="replyhandling">
                <as4-input label="Reply pattern" runtimeTooltip="replyPattern">
                    <select formControlName="replyPattern">
                        <option [ngValue]="0">Response</option>
                        <option [ngValue]="1">Callback</option>
                    </select>
                </as4-input>
                <as4-input label="Sending PMode" runtimeTooltip="sendingpmode">
                    <div as4-pmode-select mode="sending" formControlName="sendingPMode"></div>
                </as4-input>
                <div class="sub-header-1">Receipt handling</div>
                <ng-container formGroupName="receiptHandling">
                    <as4-input label="Use NNR format" runtimeTooltip="receiptHandling.usennrformat">
                        <input type="checkbox" formControlName="useNNRFormat" />
                    </as4-input>
                </ng-container>
                <div class="sub-header-1">Error handling</div>
                <ng-container formGroupName="errorHandling" runtimeTooltip="errorhandling">
                    <as4-input label="Response HTTP code" runtimeTooltip="responsehttpcode">
                        <input type="number" formControlName="responseHttpCode">
                    </as4-input>
                </ng-container>
            </div>
            <div tabitem title="Message handling" formGroupName="messageHandling" [isValid]="pmode.form.get('pmode.messageHandling')" runtimeTooltip="messagehandling">
                <as4-input label="Type"  runtimeTooltip="messagehandlingtype">
                    <select formControlName="messageHandlingType" #messageHandlingType>
                        <option [ngValue]="0">None</option>
                        <option [ngValue]="1">Deliver</option>
                        <option [ngValue]="2">Forward</option>
                    </select>
                </as4-input>
                <ng-container *ngIf="messageHandlingType.selectedIndex === 1" formGroupName="item">
                    <as4-input label="Enabled" runtimeTooltip="deliverinformation.isenabled">
                        <input type="checkbox" formControlName="isEnabled" runtimeTooltip="deliver.isEnabled" />
                    </as4-input>
                    <as4-method runtime="payloadreferencemethod" label="Payload reference method" [group]="pmode.form.get('pmode.messageHandling.item.payloadReferenceMethod')" [types]="attachmentUploaders$ | async"></as4-method>
                    <as4-method runtime="delivermethod" label="Deliver method" [group]="pmode.form.get('pmode.messageHandling.item.deliverMethod')" [types]="deliverSenders$ | async"></as4-method>
                </ng-container>
                <ng-container *ngIf="messageHandlingType.selectedIndex === 2" formGroupName="item">
                    <as4-input label="Sending PMode">
                        <div as4-pmode-select mode="sending" formControlName="sendingPMode"></div>
                    </as4-input>
                </ng-container>
            </div>
            <div tabitem title="Message packaging" [isValid]="!!!pmode.currentPmode || pmode.form.get('pmode.messagePackaging').valid" runtimeTooltip="messagepackaging">
                <as4-message-packaging [form]="pmode.form.get('pmode.messagePackaging')" [isSendingType]="false"></as4-message-packaging>
            </div>
            <div title="Security" tabitem formGroupName="security" [isValid]="!!!pmode.currentPmode || pmode.form.get('pmode.security').valid" runtimeTooltip="security">
                <as4-input label="Signing verification" formGroupName="signingVerification" runtimeTooltip="signingverification.signature">
                    <select formControlName="signature">
                        <option [ngValue]="0">Allowed</option>
                        <option [ngValue]="1">Not allowed</option>
                        <option [ngValue]="2">Required</option>
                        <option [ngValue]="3">Ignored</option>
                    </select>
                </as4-input>
                <as4-input label="Decryption" formGroupName="decryption" runtimeTooltip="decryption.encryption">
                    <select formControlName="encryption" #selectedEncryption>
                        <option [ngValue]="0">Allowed</option>
                        <option [ngValue]="1">Not allowed</option>
                        <option [ngValue]="2">Required</option>
                        <option [ngValue]="3">Ignored</option>
                    </select>
                </as4-input>
                <div formGroupName="decryption" runtimeTooltip="decryption.privatekeyfintype">
                    <as4-input label="Private key find type (decryption)" *ngIf="selectedEncryption.selectedIndex === 0 || selectedEncryption.selectedIndex === 2"
                        runtimeTooltip="privatekeyfindtype">
                        <select formControlName="privateKeyFindType">
                            <option [ngValue]="0">Find by thumbprint</option>
                            <option [ngValue]="1">Find by subject name</option>
                            <option [ngValue]="2">Find by subject distinguished name</option>
                            <option [ngValue]="3">Find by issuer name</option>
                            <option [ngValue]="4">Find by issuer distinguished name</option>
                            <option [ngValue]="5">Find by serial number</option>
                            <option [ngValue]="6">Find by time valid</option>
                            <option [ngValue]="7">Find by time not yet valid</option>
                            <option [ngValue]="8">Find by time expired</option>
                            <option [ngValue]="9">Find by template name</option>
                            <option [ngValue]="10">Find by application policy</option>
                            <option [ngValue]="11">Find by certificate policy</option>
                            <option [ngValue]="12">Find by extension</option>
                            <option [ngValue]="13">Find by key usage</option>
                            <option [ngValue]="14">Find by subject key identifier</option>
                        </select>
                    </as4-input>
                    <as4-input label="Private key find value (decryption)" *ngIf="selectedEncryption.selectedIndex === 0 || selectedEncryption.selectedIndex === 2"
                        runtimeTooltip="decryption.privatekeyfindvalue">
                        <as4-thumbprint-input formControlName="privateKeyFindValue"></as4-thumbprint-input>
                    </as4-input>
                </div>
            </div>
            <div tabitem title="Exception handling" formGroupName="exceptionHandling" [isValid]="!!!pmode.currentPmode || pmode.form.get('pmode.exceptionHandling').valid" runtimeTooltip="exceptionhandling">
                <as4-input label="Notify message consumer" runtimeTooltip="notifymessageconsumer">
                    <input type="checkbox" formControlName="notifyMessageConsumer" #notifyMessageConsumer/>
                </as4-input>
                <as4-method runtime="notifymethod" label="Notify method" [group]="pmode.form.get('pmode.exceptionHandling.notifyMethod')" [types]="deliverSenders$ | async"></as4-method>
            </div>
        </as4-tab>
    </div>
</form>