<as4-box>
    <div>
        <button type="button" class="btn btn-small" (click)="addItem()" data-cy="smp-add">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" data-cy="smp-configs">
            <thead>
                <th></th>
                <th>To Party</th>
                <th>To Party Role</th>
                <th>To Party Type</th>
                <th>Url</th>
                <th>Service Value</th>
                <th>Service Type</th>
                <th>Action</th>
                <th>Final Recipient</th>
                <th>Encryption</th>
                <th>Tls</th>
            </thead>
            <tbody>
                <ng-container *ngFor="let config of configs | async; let i = index">
                    <tr class="smp-row">
                        <td>
                            <button type="button" class="btn btn-small" (click)="deleteItem(config.id)" data-cy="smp-delete">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-small" (click)="editItem(config.id)" data-cy="smp-edit">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>

                        </td>
                        <td>{{config.toPartyId}}</td>
                        <td data-cy="smp-row-partyrole">{{config.partyRole}}</td>
                        <td>{{config.partyType}}</td>
                        <td>
                            <a href="{{config.url}}">{{config.url}}</a>
                        </td>
                        <td>{{config.serviceValue}}</td>
                        <td>{{config.serviceType}}</td>
                        <td>{{config.action}}</td>
                        <td>{{config.finalRecipient}}</td>
                        <td *ngIf="config.encryptionEnabled === true">
                            <i class="fa fa-check" aria-hidden="true" style="color:green"></i>
                        </td>
                        <td *ngIf="config.encryptionEnabled === false">
                            <i class="fa fa-times" aria-hidden="true" style="color:red;"></i>
                        </td>
                        <td *ngIf="config.tlsEnabled === true">
                            <i class="fa fa-check" aria-hidden="true" style="color:green"></i>
                        </td>
                        <td *ngIf="config.tlsEnabled === false">
                            <i class="fa fa-times" aria-hidden="true" style="color:red;"></i>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</as4-box>