.panel {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccc;
    box-shadow: 5px 5px 5px #ccc;
    padding: 10px;
}

.truncate {
    width: 200px;
}

.truncate a {
    display: block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}