@import './variables.scss';
@import 'grippy.scss';
@import 'forms.scss';
@import 'modal.scss';
@import 'tabs.scss';
@import 'datepicker.scss';
@import './tooltip.scss';
@import './button.scss';
@import '../app/common/multiselect/multiselect.directive.scss';
@import './mixins.scss';
@import './datetimepicker.scss';
@import './select2.scss';
$focusColor: #3c8dbc;
$borderColor: #d2d6de;
.completer-dropdown-holder {
    z-index: 20000;
}

.clickable {
    cursor: pointer;
}

table {
    tr>td.action {
        width: 1%;
    }
}

i.active {
    color: $primary;
}

.btn-box-tool {
    i {
        font-size: 15px;
    }
    margin-top: -4px;
}

.col-small {
    width: 2px;
}

input[type="checkbox"] {
    margin-top: 9px;
}

div {
    .sub-header {
        color: #CCC;
        font-size: 16px;
        &:not(:first-child) {
            margin-top: 30px;
        }
        margin-bottom: 10px;
        @include breakpoint(md) {
            text-align: right;
            width: 25%;
            padding-right: 23px;
        }
    }
    .sub-header-1 {
        color: $primary;
        font-size: 18px;
        font-weight: bold;
        &:not(:first-child) {
            margin-top: 30px;
        }
        margin-bottom: 10px;
        @include breakpoint(md) {
            text-align: right;
            width: 25%;
            padding-right: 23px;
        }
    }
}

.alert {
    border-radius: 0 !important;
    &.alert-danger {
        margin-top: 2px;
    }
}