<form [formGroup]="form" class="form-horizontal">
    <as4-box [collapsed]="false">
        <button action type="button" class="btn btn-box-tool"><i class="fa fa-save"></i></button>
        <div content class="col-md-6 col-xs-12">
            <as4-input [label]="'Name'">
                <div class="input-group">
                    <select (change)="selectAgent($event.target.value)" class="form-control" formControlName="name">
                        <option>Select an option</option>
                        <option *ngFor="let agent of settings">{{agent.name}}</option>
                    </select>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-flat" (click)="rename()" [class.disabled]="!!!currentAgent"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-flat" (click)="addAgent()"><i class="fa fa-plus"></i></button>
                        <button type="button" class="btn btn-flat" (click)="save()" [class.btn-primary]="form.dirty" [class.disabled]="!form.dirty"><i class="fa fa-save"></i></button>
                        <button type="button" class="btn btn-flat" (click)="delete()" [class.disabled]="!!!currentAgent"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-flat" (click)="reset()" [class.btn-primary]="form.dirty" [class.disabled]="!form.dirty"><i class="fa fa-undo"></i></button>
                    </div>
                </div>
            </as4-input>
            <div formGroupName="transformer">
                <as4-input [label]="'Transformer'">
                    <select class="form-control" formControlName="type">
                        <option *ngFor="let transformer of transformers" [value]="transformer.technicalName">{{transformer.name}}</option>
                    </select>
                </as4-input>
            </div>
        </div>
    </as4-box>

    <as4-box [title]="'Receiver'" [collapsed]="false">
        <div content class="col-md-6">
            <as4-receiver [group]="form.controls.receiver"></as4-receiver>
        </div>
    </as4-box>

    <as4-box [title]="'Steps'" [collapsed]="false">
        <div content class="col-md-6">
            <as4-step-settings [group]="form.controls.steps"></as4-step-settings>
        </div>
    </as4-box>
</form>