:host {
    display: flex;    
    &.ng-invalid {
        button {
            color: red;
        }
    }
}

.fileselect {
    display: flex;
    flex-direction: column;
    p {
        margin-left: 10px;
    }
    .control {
        display: flex;
        p {
            overflow: auto;
        }
    }
}