<form [formGroup]="form">
    <as4-input>
        <p><button type="button" as4-auth class="btn btn-flat" (click)="add()"><i class="fa fa-plus"></i></button></p>
        <table class="table table-condensed" formArray="form">
            <tr>
                <th></th>
                <th>MPC</th>
                <th>Thumbprint</th>
                <th>Allowed</th>
            </tr>
            <tr *ngFor="let map of form.controls; index as i" [formGroupName]="i">
                <td class="action"><button type="button" as4-auth class="btn btn-flat" (click)="remove(map)"><i class="fa fa-trash"></i></button></td>
                <td><input type="text" formControlName="mpc" focus/></td>
                <td>
                    <as4-thumbprint-input formControlName="certificateThumbprint"></as4-thumbprint-input>
                </td>
                <td><input type="checkbox" formControlName="allowed" /></td>
            </tr>
            <tr *ngIf="!!!form.value.length">
                <td colspan="4" class="center">No authorization map entries configured yet.</td>
            </tr>
        </table>
    </as4-input>
</form>