<as4-box title="Filters">
    <div content>
        <as4-filter #filter [filter]="inExceptionFilter">
            <div class="col-md-6 col-xs-12">
                <as4-input label="Type" labelSize="3" controlSize="9">
                    <select [(ngModel)]="filter.filter.direction">
                        <option value="0" selected>In exceptions</option>
                        <option value="1">Out exeptions</option>
                    </select>
                </as4-input>
                <as4-input label="Operation" labelSize="3" controlSize="9">
                    <div class="input-group">
                        <select name="operation" [(ngModel)]="filter.filter.operation">
                        <option value="undefined">None</option>
                        <option value="0">Not applicable</option>
                        <option value="1">To be sent</option>
                        <option value="2">Sending</option>
                        <option value="3">Sent</option>
                        <option value="4">To be notified</option>
                        <option value="5">Notifying</option>
                        <option value="6">Notified</option>
                        <option value="7">To be delivered</option>
                        <option value="8">Delivering</option>
                        <option value="9">Delivered</option>
                    </select>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" (click)="filter.filter.operation = null"><i class="fa fa-trash"></i></button>
                        </span>
                    </div>
                </as4-input>
                <as4-input label="Embs ref to message id" labelSize="3" controlSize="9">
                    <input type="text" name="ebmsRefToMessageId" [(ngModel)]="filter.filter.ebmsRefToMessageId" />
                </as4-input>
            </div>
            <div class="col-md-6 col-xs-12">
                <as4-input label="Modification time" labelSize="3" controlSize="9">
                    <div class="row time-range">
                        <div class="col-xs-12 col-md-5">
                            <div class="input-group">
                                <input placeholder="From" class="col-xs-10" type="text" as4-datetimepicker [(ngModel)]="filter.filter.modificationTimeFrom"
                                />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-secondary" (click)="filter.filter.modificationTimeFrom = null"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-2 text-center">to</div>
                        <div class="col-xs-12 col-md-5">
                            <div class="input-group">
                                <input placeholder="To" type="text" as4-datetimepicker [(ngModel)]="filter.filter.modificationTimeTo" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-secondary" (click)="filter.filter.modificationTimeTo = null"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </as4-input>
                <as4-input label="Insertion time" labelSize="3" controlSize="9">
                    <div class="row time-range">
                        <div class="col-xs-12 col-md-5">
                            <div class="input-group">
                                <input placeholder="From" class="col-xs-10" type="text" as4-datetimepicker [(ngModel)]="filter.filter.insertionTimeFrom"
                                />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-secondary" (click)="filter.filter.insertionTimeFrom = null"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-2 text-center">to</div>
                        <div class="col-xs-12 col-md-5">
                            <div class="input-group">
                                <input placeholder="To" type="text" as4-datetimepicker [(ngModel)]="filter.filter.insertionTimeTo" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-secondary" (click)="filter.filter.insertionTimeTo = null"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </as4-input>
                <as4-input>
                    <button type="submit" class="btn btn-default">Search</button>
                </as4-input>
            </div>
        </as4-filter>
    </div>
</as4-box>
<as4-box title="Messages in exception">
    <div content>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Insertion time</th>
                    <th>Operation</th>
                    <th>Ebms ref message to</th>
                    <th>Modification time</th>
                    <th>Pmode</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let message of (messages | async).messages; let i = index">
                    <tr>
                        <td>
                            <i class="fa" [class.fa-chevron-right]="message !== activeMessage" [class.fa-chevron-down]="message === activeMessage" (click)="toggle(message)"></i>
                        </td>
                        <td>{{message.insertionTime}}</td>
                        <td>{{message.operation}}</td>
                        <td>{{message.ebmsRefToMessageId}}</td>
                        <td>{{message.modificationTime}}</td>
                        <td>
                            <a [routerLink]="['/pmodes', filter.filter.direction === 0 ? 'receiving' : 'sending', message.pMode]" [queryParams]="{ compareto: message.hash }">{{message.pMode}}</a>
                        </td>
                    </tr>
                    <tr *ngIf="message === activeMessage">
                        <td colspan="10">
                            <as4-tab>
                                <div tabitem title="Exception">
                                    <template #headerExtra>
                                        <as4-clipboard [target]="exception"></as4-clipboard>
                                    </template>
                                    <div #exception>{{message.exception}}</div>
                                </div>
                            </as4-tab>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <as4-pager [pages]="(messages | async).pages" [pageTotal]="(messages | async).messages.length" [total]="(messages | async).total"
            [page]="(messages | async).page" (onChangePage)="filter.filter.page = $event; filter.search()"></as4-pager>
    </div>
</as4-box>