<div [formGroup]="group">
  <p>
    <button [attr.disabled]="disabled ? '' : null" as4-auth="{{disabled}}" type="button" class="btn btn-flat" (click)="addStep()">
      <i class="fa fa-plus"></i>
    </button>
  </p>
  <div [sortablejs]="group" [sortablejsOptions]="{ handle: '.grippy', onEnd: itemMoved }">
    <div *ngFor="let step of group.controls; let i = index" [formGroupName]="i">
      <div class="step-row row">
        <div class="item stepinfo">
          <as4-info [runtimeTooltip]="step.get('type').value"></as4-info>
        </div>
        <div class="item">
          <span class="grippy"></span>
        </div>
        <div class="item">
          <button as4-auth="{{disabled}}" type="button" class="btn btn-flat" (click)="removeStep(i)">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
        <div class="item">
          <select class="form-control" formControlName="type" (change)="stepChanged(step, selectedStep.value)" #selectedStep>
            <option *ngFor="let step of steps" [value]="step.technicalName">{{step.name}}</option>
          </select>
          <div class="settings">
            <as4-runtime-settings showTitle="false" [form]="step.get('setting')" [types]="steps" [itemType]="step.get('type').value"></as4-runtime-settings>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>